:root {
    --primary: #4253F0;
    --primary-dark: rgb(84, 3, 247);
    --headline: #020202;
    --text: #8893A5;
    --white: #FFFFFF;
    --bg: #FFFFFF;
    --error: #FF5c5c;
    --border: #DDEAF3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection {
    background: var(--primary);
    color: var(--white);
}
body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    padding: 1rem;
    display: flex;
    color: var(--text);
    justify-content: center;
    align-items: center;
    background: var(--bg);
}
.two-column-layout {
    display: flex;
    gap: 0.5rem;
    background: var(--bg);
    width: 100%;
    position: relative;
    align-items: center;
    height: 100vh;
}

.two-column-layout .left {
    display: flex;
    flex-direction: column;
    flex: 1;
}
 .social-row {
    display: flex;
    gap: 1rem;
 }
 .socials-row img {
    width: 1.5rem;
    height: 1.5rem;
 }

 .footer {
    margin-top: auto;
    text-align: center;
 }

 .socials-row>a {
    padding: 0.5rem;
    border-radius: 1rem;
    width: 100%;
    min-height: 3rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
 }